.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(15, 41, 147, 0.8);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.formSearchBar {
    display: flex;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.888);
    border: 2px solid transparent;
    border-radius: 6px;
}

.formSearchInput {
    width: 300px;
    padding: 8px 18px;
    outline: transparent;
    font-size: 18px;
    color: rgb(202, 199, 199);
    background-color: rgba(0, 0, 0, 0.756);
    border: 2px solid transparent;
    border-radius: 6px;
}

.formSearchBar:has(.formSearchInput:hover,
    .formSearchInput:focus,
    .formSearchInput:active) {
    border: 2px solid blue;
}

.formSearchBtn {
    display: flex;
    align-items: center;
    color: blue;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.756);
    outline: transparent;
    border: 1px solid transparent;
    border-radius: 6px;
}